@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
/*Barra de navegaci贸n*/
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}
/*Final barra de navegaci贸n*/

/*Imagen Hero*/
.hero, .about-us {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
   }
.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    filter: brightness(50%);
   }
.hero .hero-text {
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
.hero .hero-text h1 {
    color: #FFF;
    font-size: 64px;
    margin-bottom: 20px;
   }
.hero .hero-text p {
    color: #FFF;
    font-size: 20px;
    margin-bottom: 20px;
   }
/*Final Imagen Hero*/
.btn-white {
    color: #333;
    font-size: 20px;
    background-color: #FFF;
    border: 2px solid #FFF;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
   }
.btn-white {
    cursor: pointer;
   }
.menu a:hover {
    cursor: pointer;
   }
.info-divider {
    text-align: center;
    margin: 25px;
}

.info-divider h1 {
    color: #999999;
    font-weight: bold;
}

.about-qc {
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-us img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   }
.about-qc  p{
    padding: 50px;
    text-align: center;
    color: white;
    background: hsl(345, 45%, 48%);
    background: linear-gradient(90deg, rgba(179,68,96,0.8029411593739058) 100%, rgba(0,212,255,0) 100%);
    margin-left: 25%;
    margin-right: 25%;
    font-size: 24px;
    line-height: 1.6;
}
/*Secci贸n de Servicios*/
.services {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #b34460 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  }
  .services-list, p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    background-color: #b34460;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .card:hover {
    background-position: 0 100%;
  }
  .card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #b34460;
  }
  .card:hover h3 {
    color: #ffffff;
  }
  .card:hover p, .card:hover li {
    color: #f0f0f0;
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 0 2em;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em 3em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
  /*Fin de secci贸n de servicios*/